body {
	background-color: white;
	padding: 20px;
	margin: 0;
	/*font-family: Helvetica, Arial, sans-serif;*/
  }
	 
  ul.header li {
	display: inline;
	list-style-type: none;
	margin: 0;
  }
  
  ul.header {
	/*background-color: #0000A0;*/
	background-color: lightgray;
	padding: 0;
  }
  
  ul.header li a {
	color: #FFF;
	/*font-weight: bold;*/
	text-decoration: none;
	padding: 10px;
	display: inline-block;
  }
  
  .content {
	background-color: #EEEEEE;
	padding: 20px;
  }
  
  .content h2 {
	padding: 0;
	margin: 0;
  }
  
  .content li {
	margin-bottom: 10px;
  }
  
  .active {
	background-color: lightsteelblue;
	color: darkred;
  }


.msgFromServer {
 width: 700px;
 height : 150px;
 padding: 20px;
 color: darkgreen;
 font-size: 2em;
 background-color: lightgray; 
}

.errmsg {
  margin-top: 1em;
  margin-left: 8em;
  margin-right: 8em;
}
.errmsg-left {
  margin-top: 1em;
  width: 700px;;
}



.form-signin {
max-width: 330px;
padding: 15px;
margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
margin-bottom: 10px;
}
.form-signin .checkbox {
font-weight: normal;
}
.form-signin .form-control {
position: relative;
height: auto;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
		box-sizing: border-box;
padding: 10px;
font-size: 16px;
}
.form-signin .form-control:focus {
z-index: 2;
}
.form-signin input[type="email"] {
margin-bottom: -1px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
margin-bottom: 10px;
border-top-left-radius: 0;
border-top-right-radius: 0;
}

.nicePlaces {
/* background-color: red; */
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,236,68,0.47) 0%,rgba(255,236,68,0.47) 1%,rgba(255,236,68,0.5) 19%,rgba(233,0,19,0.59) 66%,rgba(233,0,19,0.71) 100%);
}

.rentHomes {
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,236,68,1) 1%,rgba(255,236,68,1) 13%,rgba(64,179,232,1) 56%,rgba(64,179,232,1) 100%);
}

.nicePlace {
/* background-color: orange; */
margin-top: 15px;
}

.userBookings {
	background-color: #fff8ea;
}

.userPlaces {
	background-color: #fff8ea;
}

.noPlacesAndBookingsFound {
background-color: rgb(206, 206, 206);
}

.placeName {
/* background-color: greenyellow; */
font-family: 'Changa', sans-serif;
}

.createdBy {
	/* background-color: bisque; */
	font-family: 'Changa', sans-serif;
}

.placeRating {
/* background-color: blueviolet; */
font-family: 'Changa', sans-serif;
}

.placeGPS {
background-color: rgb(53, 178, 236)
}

.placeDesc {
/* background-color: rgb(197, 92, 145); */
font-family: 'Changa', sans-serif;
font-size: 1.2em;
}

img {
width: 100%;
max-height: 450px;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.rentablePrice{
	background-color: greenyellow;
}

.testInlineNow {
	background-color: rgb(190, 25, 240);
}

.rentButton {
	margin: 0 0 0 20px;
	box-shadow: 0 6px 20px 0px rgb(73, 73, 73);
	font-family: 'Changa', sans-serif;
}

.google-map {
	height: 250px;
	border:solid 7px #41403E;
	border-radius: 5%;
	/* background-color: rgb(87, 2, 35); */
}

hr {
  border:none;
 	width: 100%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #db681b;
	box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px; 
}

.fa
{
    color:rgb(255, 251, 1);
    animation: colorchange1 1.2s;
		-webkit-animation: colorchange1 1.2s;
		animation-iteration-count: infinite;
}

@keyframes colorchange1
{
0%   {color: #fccb2a;}
25% {color: #f8ce0b;}
50% {color: #fbff00;}
75% {color: #f8ce0b;}
100% {color: #fccb2a;}
}
@-webkit-keyframes colorchange1 /* Safari and Chrome - necessary duplicate */
{
	0%   {color: #fccb2a;}
	25% {color: #f8ce0b;}
	50% {color: #fbff00;}
	75% {color: #f8ce0b;}
	100% {color: #fccb2a;}
}